@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "home.css";
@import "clientConnect.css";
@import "board.css";

AnchorPane {
    -fx-background-color: white;
}

MFXButton {
    -fx-text-fill: black;
}

Text{
    -fx-font-family: 'Roboto', monospace;
}

TextField {
    -fx-font-family: 'Roboto', monospace;
}