@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "home.css";
@import "clientConnect.css";
@import "board.css";

* {
    -fx-font-family: 'Roboto', monospace;
    /*-fx-background-color: white;*/
}

MFXButton {
    -fx-font-family: 'Roboto', monospace;
    -fx-text-fill: black;
}