MFXTextField {
    -fx-border-color: red;
}

MFXTextField .floating-text {
    -fx-text-fill: red;
}

MFXPasswordField {
    -fx-border-color: red;
}

MFXPasswordField .floating-text {
    -fx-text-fill: red;
}